.game-screen {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.card-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
